.ProductScreen
{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
}

.details{
    width: 500px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px;

}